*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --clr-light: rgb(253, 154, 171);
    --clr-dark: rgb(172, 91, 118);

    --fnt-dark: rgb(69, 69, 69);
    --fnt-light: rgb(252, 107, 132); 
}
body {
    color: var(--fnt-dark);
    background: var(--clr-light);
    font-size: 18px;
    font-family: 'Encode Sans SC', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}


hr {
    border: 1px solid var(--fnt-dark);
}

.nav-background-color {
    background: var(--clr-dark);
}

.main-content-break {
    max-width: 1200px;
}

/* navigation */

.navigation-wrapper {
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.logo {
   margin-left: 1.50em;
   padding-top: .4rem;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin: 0 auto;
    padding: 0;
}

.nav-link {
    color: inherit;
    font-weight: 900;
    font-size: 1.75rem;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--fnt-light);
}


.nav-toggle {
    padding: .5em;
    padding-right: 1.25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 2.75em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--fnt-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* hero */

.hero-pink {
    max-width: 75%;
}

.hero-title {
    font-size: 2rem;
}

.hero-img {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    max-height: 400px; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

.hero-description {
    font-weight: 500;
}

/* main content */

.main-content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.content {
    margin-bottom: 2em;
}

.content-img,
.gallery-img {
    display: inline-block;
    margin: 0 auto;
    max-width: 33rem;
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.content-info {
    font-size: 1.1rem;
    font-weight: 600;
}

.content-link {
    text-decoration: none;
    color: var(--fnt-dark);
}

.content-link:hover {
    color: var(--fnt-light);
}

.content-img:hover {
    width: 76%;
    height: 76%;
}

/* about page */

.about-content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1230px;
    margin: auto;
}

.about-image-wrapper {
    max-width: 720px;
    max-height: 1000px;
    margin: 1rem;
    margin-bottom: 0;
}

.about-image {
    width: 100%;
    height: 100%;
}

.about-text {
    text-align: left;
    line-height: 1.5;
    text-align: left;
    margin: 1rem;
    margin-bottom: 0;
    font-weight: 400;
}


/* gallery page */

.gallery-images {
    max-width: 1375px;
    margin: auto;
}

.gallery-img {
    margin-bottom: 1rem;
    height: 50%;
    width: 50%;
}

.gallery-break {
    border: none;
}

.gallery-break::before {
    content: '***';
    display: block;
    text-align: center;
    color: var(--fnt-dark);
}


/* footer */

.footer {
    max-height: 400px;
    margin-top: 2rem;
    background-color: var(--clr-dark)
}

.footer-links {
    max-width: 450px;
    margin: 0 auto;
}

.footer-link {
    margin: 1.5rem;
}

.footer-logo {
    height: 25px;
    width: 25px;
}

.constraint {
    max-width: 1400px;
    margin: auto;
}

/* media */

@media only screen and (min-width: 600px) {

    .navigation-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .content {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .content:first-child {
        margin-left: 1rem;
    }

    .content:last-child {
        margin-right: 1rem;
    }

    .content-info {
        text-align: center;
    }

    .gallery {
        margin: auto;
        display: block;
    }

    .gallery-images {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .gallery-img {
        width: 40%;
        height: 40%;
    }

    .footer {
        margin-top: 1rem;
    }

  }

@media only screen and (min-width: 700px) {
    .nav-toggle {
        padding-right: 5em;
    }

    .about-content-wrapper {
        flex-direction: row;
    }

    .about-content {
        margin-bottom: 1.2rem;
    }

    .about-image-wrapper {
        width: 50%;
    }

    .text-constraint {
        max-width: 600px;
        width: 50%;
    }

    .about-text {
        line-height: 2.5;
    }
}

@media only screen and (min-width: 510px) and (max-width: 970px) {
    .content-img {
        width: 68%;
        height: 68%;
    }
}

@media only screen and (min-width: 1200px) {
    .footer {
        margin-top: 0;
    }

    .content {
        margin-bottom: 1rem;
    }
    
    .about-text {
        line-height: 4;
    }
}
